.container {
    padding: 20px 20px 0;
}

.display-underline {
    &,
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.remove-underline {
    &,
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

